/* common style */
body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   padding:0;
    

}
.product-title{
    font-size: 24px;
    margin-left: 100px;
    font-weight: 700;
    padding-top: 50px;
   
    

}
/* Style of Influencer */
.flexible{
    display:flex;
    margin-bottom: 300px;
    justify-content: center;
   
    
    
}
h1{
    font-size: 52px;
    font-weight: 700;
}

.partial-width{
    width: 582px;
    height: 286px;
    
    

}
.partial-width img{
    width: 440px;
    height: 414px;
    margin-left: 136px;
    
   
   
}
/* using animation */
.button1{
    background: #E02C6D;
    color: white;
    font-weight: 700;
    padding:10px 10px;
    border-radius:24px;
    cursor: pointer;
    

}
.button1:hover{
    background-color:tomato ;
}

.button2{
    background: #E02C6D;
    color: white;
    font-weight: 700;
    padding:10px 10px;
    border-radius:24px;
    

}


/*----- style of collection ----*/
.heading{
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
}
.collections{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:30px;
    grid-row-gap:30px;
}
.collection{
    width: 329px;
     height: 530px;
     background: #FFFFFF;
     box-shadow: 10px 10px 40px grey;
      border-radius: 5px;
      padding-left:16px;
     
      padding-top: 17px;
       padding-right: 10px; 
}
.collection .collection-banner img{
    width: 300px;
    height: 256px;
}
.collection-info{
    display: flex;
    align-items: center;
    font-size: 14px;
    
   
}
.fa-star{
    font-size: 12px;
}
.fa-star{
    color: orange;
}
/* see more added */
.see {

    color: #E02C6DDE;
    }
/* style of mobile application */
.container img
{
    width: 404px;
    height: 300px;
}
/* style of footer */
footer{
    text-align: center;
    background-color: darkblue;
    color:white;
   
    font-weight: 700;
    }
    .flex{
        display:grid;
        grid-template-columns: 10px 10px 10px 10px;
        grid-gap:16px;
        justify-content: center;
        padding:10px; 
    }
    /* media queries */
    @media only screen and (max-widht:576px) {
        body{
            background-color:yellow;
        }
    }
    @media only screen and (min-width:577px){
        body{
            background-color:purple;
        }
    }
    @media only screen and (max-width:768px){
        body{
            background-color:seagreen;
        }
    }
    @media only screen and (min-width:769px){
        body{
            background-color:orange;
        }
    }
    @media only screen and (max-width:1400px){
        body{
            background-color:red;
        }
    }


